<p>dashboard works!</p>



<nav class="navbar navbar-expand-lg navbar-dark bg-primary col-md-6">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-product">AddProduct</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="display-all">View All</a>
          </li>
        </ul>
    </div>
</div>
</nav>
<router-outlet></router-outlet>